h1 {
  text-align: center;
  font-family: monospace;
  color: white;
  font-size: 60px;
}

button {
  margin: 0 auto;
  display: block;
}
h3 {
  color: #ffff;
  font-size: 40px;
  display: inline;
}
p {
  color: white;
  font-size: 16px;
}
body {
  background-image: url(https://s3.amazonaws.com/shecodesio-production/uploads/files/000/029/447/original/alessio-soggetti-cfKC0UOZHJo-unsplash.jpg?1647480104);
  background-position: center;
  background-repeat: repeat;
  background-attachment: fixed;
  background-size: cover;
}

.weather-app {
  max-width: 700px;
  margin: 20px auto;
  box-sizing: border-box;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 5px 5px 10px 3px rgb(10 10 10 / 20%);
  background: rgb(48, 128, 167, 0.6);
  background: -webkit-linear-gradient(to bottom, #5296b3, #3080a7);
  background: linear-gradient(
    to bottom,
    rgb(82, 150, 179, 0.8),
    rgb(48, 128, 167, 0.8)
  );
}
.card-body {
  background: radial-gradient(
    circle at 10% 20%,
    #2c5773 0%,
    rgb(48, 128, 167, 0.4) 90%
  );
}

.card {
  background: radial-gradient(
    circle at 10% 20%,
    rgb(44, 87, 115, 0.6) 0%,
    rgb(48, 128, 167, 0.6) 90%
  );
}

.weekTemperature {
  background: #3080a7;
  background: -webkit-linear-gradient(
    to bottom,
    rgb(82, 150, 179, 0.9),
    rgb(48, 128, 167, 0.9)
  );
  background: linear-gradient(
    to bottom,
    rgb(82, 150, 179, 0.9),
    rgb(48, 128, 167, 0.9)
  );
  color: white;
  text-align: center;
}
.navbar {
  color: white;
  text-align: center;
  background-color: #2c5773;
  background: linear-gradient(to bottom, #2c5773, #3080a7);
}

.weatherAppImage {
  width: 300px;
  margin-left: 340px;
  margin-top: -100px;
}

.searchInput {
  margin-left: 220px;
}

.temperatureInput {
  margin-left: 80px;
}

.temperatureInfo img {
  height: 50px;
  width: 50px;
}

.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited,
.btn-primary:focus {
  background-color: #2c5773;
  border-color: #2c5773;
}

.btn-outline-primary {
  background-color: #2c5773;
  border-color: #2c5773;
  color: white;
}

.btn-outline-primary:hover {
  background-color: white;
  border-color: #2c5773;
  color: #2c5773;
}

.dayNightInfo {
  color: white;
  font-size: 16px;
}

.current-location-button {
  margin: 0 auto;
  display: block;
  background-color: #2c5773;
  border-color: #2c5773;
  color: white;
  font-family: monospace;
  font-size: 16px;
}

.current-location-button:hover {
  background-color: white;
  border-color: #2c5773;
  color: #2c5773;
}

.separator {
  color: white;
}

.textBox {
  text-align: center;
  background-color: white;
  max-width: 735px;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 25px;
}

.textLink {
  color: #3f7ea8;
}

.textLink:hover {
  color: #2fabb4;
  cursor: pointer;
}

.weather-forecast {
  margin-top: 20px;
  text-align: center;
}

.weather-forecast-date {
  font-size: 20px;
  text-align: center;
}

.weather-forecast-temperatures {
  font-size: 18px;
}

#date {
  color: #ffff;
  font-size: 16px;
}

#temperatureInfo {
  font-size: 30px;
  font-weight: bold;
  color: white;
}

#description,
#humidity,
#wind {
  color: white;
  font-size: 16px;
}

#london,
#madrid,
#dubai,
#paris,
#chicago {
  color: white;
  text-decoration: none;
  font-size: 18px;
}

#london:hover,
#madrid:hover,
#dubai:hover,
#paris:hover,
#chicago:hover {
  font-weight: bold;
}
